@import url("reset.css");
@import url("header.css");
@import url("main.css");
@import url("side-bar.css");
@import url("footer.css");

html {
  background-color: #f7f7f7;
}

body {
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
  color: rgb(49, 46, 46);
}

header,
footer {
  background-color: #333a40;
  color: white;
}

a {
  text-decoration: none;
  color: inherit; /*inherit 속성은 부모의 color를 따라가게 된다.*/
}

a:hover {
  color: #0e69e9;
}
